.background {
    margin: 0;
    height: 100vh;
    background: url(monalisa.jpg) no-repeat center center;
    background-size: cover;
    filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-1 .background {
    background: url('bagroundponegoro.jpg') no-repeat center center;
    background-size: cover;
}

.bg-2 .background {
    background: url('bagroundrembrant1.jpg') no-repeat center center;
    background-size: cover;
}


p, h2, h3, td {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 3px 3px 8px black;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.menu-ngoding {
    background-color: rgb(145, 0, 24);
}

.menu-ngoding ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-ngoding > ul > li {
    float: left;
}

.menu-ngoding li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-ngoding li a:hover {
    background-color: rgb(30, 0, 138);
}

li.dropdown {
    display: inline-block;
}

.dropdown:hover .isi-dropdown {
    display: block;
}

.isi-dropdown {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 2);
    z-index: 1;
    background-color: #f9f9f9;
}

.isi-dropdown a {
    color: #3c3c3c !important;
}

.isi-dropdown a:hover {
    color: #232323 !important;
    background: #f3f3f3 !important;
}


